apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-lang-deployment
  labels:
    app: go-lang
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-lang
  template:
    metadata:
      labels:
        app: go-lang
    spec:
      containers:
      - name: go-lang
        image: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/go-lang:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
